.box{
    padding: 5px;
    margin: auto;
    border: 1px solid white;
    box-shadow: 5px 10px 18px #888888;
    display: flex;
    justify-content: space-evenly;
    width: 45%;
    align-items: center;
    height: 50px;
    border-radius: 5px;
}

input{
    border: 1px solid gray;
    border-radius: 3px;
    width: 70%;
    height: 14px;
    padding: 10px;
}

.go{
    background-color: #00fa9a;
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    border-radius: 3px;
    align-items: center;
}
.go:hover{
  cursor: pointer;  
}
